@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root{
    --game-table-size: 500px;
    --player-motif-size: 40px;
    --motif-size: 75px;
    --game-header-padding: 0 70px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code';
}


body{
    background-color: transparent;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
    background: rgb(1 41 80 / 32%);
    backdrop-filter: blur(10px);
    z-index: 10;
}


body.blur::before{
    opacity: 1;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
}

.game_header{
    height: 80px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
    position: relative;
}

@media screen  and (max-width: 810px){
    .game_header{
        font-size: 0.85em;
    }

}

.player1, .player2{
    padding: var(--game-header-padding);
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

}
.player1{
    justify-content: flex-start;
}

.player2{
    justify-content: flex-end;
}


.motif_player1, .motif_player2{
    width: var(--player-motif-size);
    height: var(--player-motif-size);
}

.motif1, .motif2{
    width: var(--motif-size);
    height: var(--motif-size)
}




@media screen and (max-width: 810px){
    :root{
        --player-motif-size: 30px;
        --game-header-padding: 0 40px;
    }
}
.motif_player1, .motif1{
    border-radius: 100%;
    border: 7px solid red;
}

.motif_player2, .motif2{
    position: relative;
}

.motif_player2::before, .motif_player2::after, .motif2::before, .motif2::after{
    position: absolute;
    content: '';
    left: 50%;
    width: 7px;
    height: inherit;
    background-color: #012950;
}

.motif_player2::before, .motif2::before{
    transform: rotate(45deg);
}
.motif_player2::after, .motif2::after{
    transform: rotate(-45deg);
}


.game_content{
    width: 100%;
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.game_content .game_table{
    width: var(--game-table-size);
    height: var(--game-table-size);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.game_table table{
    width: 100%;
    height: 100%;
    position: relative;
    background: transparent;
}

.line1,
.line2,
.line3{
    position: relative;
    width: 100%;
    height: calc(100% / 3);
    display: flex;
    align-items: center;
    background: transparent;
}

.case{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.case > div {
    transition: 0.3s;
}


.case.animate div {
    animation: animate 0.35s ease-out;
}

@keyframes animate {
    0%, 100%{
        transform: scale(0);
    }

    50% {
        transform: scale(1.70);
    }
}

.grille{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--game-table-size);
    height: var(--game-table-size);
}

.grille .verticale, .grille .verticale1{
    position: absolute;
    width: 100%;
    height: calc(100% /3);
    border-bottom: 3px solid rgb(1, 15, 32);
    z-index: 5;
}
.grille .verticale1{
    top: calc(var(--game-table-size) / 3);

}

.grille .horizontale, .grille .horizontale1{
    position: absolute;
    height: 100%;
    width: calc(100% / 3);
    border-right: 3px solid rgb(1, 15, 32);
    z-index: 5;
}

.grille .horizontale1{
    left: calc(var(--game-table-size) /3)
}


@media screen and (max-width: 480px) {
    :root{
        --game-table-size: 320px;
        --player-motif-size: 25px;
        --motif-size: 40px;
        --game-header-padding: 0 20px;

    }

    .player1, .player2{
        width: 50%;
    }
}


.button {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}


.button button, button.start{
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 65, 231);
    text-decoration: none;
    color: white;
    border-radius: 3px;
    box-shadow: 1px 1px 15px aliceblue;
    font-size: 0.85em;
    cursor: pointer;
    z-index: 11;
}

.modal{
    position: absolute;
    top: 20%;
    left: 50%;
    transform:  translateX(-50%) translateY(-220%);
    width: 85vw;
    height: 550px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    background: white;
    z-index: 100;
    transition: transform .2s ease-out;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.modal.appear{
    transform: translateX(-50%) translateY(-20%);
    opacity: 1;
}

.modal h1{
    position: relative;
    margin-bottom: 10px;
    font-size: 24px;
    overflow: hidden;

}
.modal h1 span{
    display: block;
    animation: push-up 0.5s ease-in-out;
}
.modal h3{
    display: flex;
    gap: 15px;
    font-size: 40px;
    overflow: hidden;
}
.modal h3 span{
    animation: push-up-start 0.7s ease-in-out;
}

.modal h3 span:nth-child(1){
    color: rgb(252, 25, 25);
}


.modal h3 span:nth-child(2){
    color: rgb(1, 194, 1);
}


.modal h3 span:nth-child(3){
    color: rgb(233, 198, 0);
}


.modal button.start{
    margin-top: 50px;
    background-color: rgb(1, 194, 1);
    box-shadow: none;
    border: none;
}

.modal .fields {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.modal input{
    height: 35px;
    padding-left: 10px;

}
.modal p{
    width: 75%;
    text-align: center;
}
.modal p span {
    font-weight: bold;
}